apiVersion: v1
kind: PersistentVolume
metadata:
  name: tftp-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/root/tftp"
